Package: mnote2
Version: 2.8
Depends:  libcanberra0 , libcanberra-gtk3-0, mysql-common , libmysqlclient-dev , libpq-dev
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: maurinsoft.com.br
Description: Easy Graphic multiplataform editor.
